body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description{
  white-space: pre-wrap;
}

.time-block{
  text-align: start;
  border-radius: 15px;
  color: red;
  font-weight: 500;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #d3d3d3;
  color: white;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-radius: 5px;
  background-color: #06AED5;
  color: white;
  float: right;
  padding: 5px;
  
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}

.time-schedule-div{
margin-top: 50px;
}

.time-schedule{
  display: inline-block;
  margin: 10px 0 10px 5px;
  padding: 10px;
  vertical-align: middle;
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px 0px; 
}

.task-schedule{
 display: inline-block;
  margin: 10px 0 10px 10px;
  padding: 10px;
  min-height: 100px;
  width: 65%;
  right: 5px;
  vertical-align: middle;
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px 0px;
}

.container{
  position: relative;
}

.task-desc{
position: absolute;
height: auto;
background-color: blue;
min-width: 200px;
left: 20%;
top: 50%;
right: 20%;
}

#details-title{
  background-color: white;
  color: black;
  padding: 10px;
  text-align: start;
  display: inline-block;
  min-width: 75%;
  size: 500;
  width:auto;
}

#details-time-key{
  background-color: white;
  color: black;
  display: inline-block;
  padding-left: 5px;
  margin-left: 5px;
}

.details-hr{
  background-color: black;
  margin: 0px 10px 0px 10px;
}

#details-desc{
  background-color: white;
  color: black;
  padding: 10px;
  text-align: start;
  margin-bottom: 0px;
  margin-right: 5px;
  width:100%;
  max-lines: 5;
  columns: 40;
}

#top{
  padding-left:20%;
}

/* Web and tab devices  */
#task-details-dialog{
  background-color: white;
  color: black;
  border-color: red;
  border-style: solid;
  min-height: 350px;
  width: 50%;
  position: fixed;
  left: 50%;
  top: 65%;
  bottom: 50%;
  transform: translate(-50%, -50%);
  }

  /* Mobile devices  */
@media screen and (max-width: 1100px){
  #task-details-dialog{
    background-color: white;
    color: black;
    min-height: 350px;
    width: 85%;
    position: fixed;
    left: 50%;
    top: 60%;
    bottom: 50%;
    transform: translate(-50%, -50%);
    }
}

.div-section-3{
  margin: 5px;
  background-color: white;
  color: black;
}