body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description{
  white-space: pre-wrap;
}

.time-block{
  text-align: start;
  border-radius: 15px;
  color: red;
  font-weight: 500;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #d3d3d3;
  color: white;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06AED5;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}

.time-schedule-div{
margin-top: 50px;
}

.time-schedule{
  display: inline-block;
  margin: 10px 0 10px 5px;
  padding: 10px;
  vertical-align: middle;
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px 0px; 
}

.task-schedule{
 display: inline-block;
  margin: 10px 0 10px 10px;
  padding: 10px;
  min-height: 100px;
  width: 65%;
  right: 5px;
  vertical-align: middle;
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px 0px;
}

.container{
  position: relative;
}

.task-desc{
position: absolute;

background-color: blue;
min-height: 400px;
min-width: 200px;
left: 20%;
top: 50%;
right: 20%;
}

.task-details{
background-color: black;
min-height: 350px;
width: 60%;
position: fixed;
left: 50%;
top: 70%;
transform: translate(-50%, -50%);
}

.details-title{
  color: white;
  padding: 10px;
  text-align: start;
  margin-bottom: 0px;
  margin-left: 5px;
}

.details-hr{
  background-color: white;
  margin: 0px 10px 0px 10px;
}